CompileFlags:
  Compiler: clang++
  Add:
    - -std=c++17
    - -x
    - cuda
  Remove:
    - -forward-unknown-to-host-compiler
    - --options-file*
    - -Xcudafe*
    - --display_error_number
    - -allow-unsupported-compiler
    - -ccbin=*
    - -arch=*
    - -Xcompiler*
    - -std=*
    - -W*

Index:
  Background: Build

InlayHints:
  Enabled: No

Completion:
  AllScopes: Yes

Diagnostics:
  ClangTidy:
    Add: []
    Remove: [readability-braces-around-statements]

